.header {
  height: 10vh;
  width: 100%;
  padding: 0.5rem;
  background-image: linear-gradient(to bottom, #000, #555);
}

.header-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav__item {
  padding: 1rem;
}

.nav__item--active{
  border-bottom: 5px solid #0a8ecd;
}

.nav__item a{
  text-decoration: none;
  font-size: 2rem;
  color: #96ea69;
}
